<form [formGroup]="favorite" [hidden]="!addFormVisible" class="container">
    <h2>Add a new website</h2>

    <div class="form-group">
        <label for>Website name:</label>
        <input type="text" formControlName="fName" class="form-control">
    </div>
    <div class="form-group">
        <label for>URL:</label>
        <input type="url" formControlName="fUrl" class="form-control">
    </div>
    <div class="form-group">
        <button class="btn btn-primary" (click)="addFavorite()">Add website</button>
        <button class="btn btn-default" (click)="togleAddForm()">Cancel</button>
    </div>
</form>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Favorite sites</h2>
        </div>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Filter by website name or URL" [(ngModel)]="searchQuery">
        </div>
        <div class="col-sm-2 btn-group-md" role="group">
            <button type="button" class="btn btn-md btn-default" (click)="toggleGridView()">
                <fa [name]="'th-large'" [hidden]="gridView"></fa>
                <fa [name]="'th-list'" [hidden]="!gridView"></fa>
            </button>
            <button type="button" class="btn btn-md btn-primary" (click)="togleAddForm()"><fa [name]="'plus'"></fa>&nbsp;Add</button>
        </div>
    </div>
    <div class="row">
        <br/>
    </div>
    <div class="row">
        <ul class="grid" [hidden]="!gridView">
            <li *ngFor="let fav of favoritesList | async | searchfilter: 'fName,fUrl' : searchQuery">
                <div class="jumbotron">
                    <div class="row">
                        <span [innerText]="fav.fName"></span>
                    </div>
                    <div class="row">
                        <a target="_blank" [href]="fav.fUrl" [innerText]="fav.fUrl"></a>
                    </div>
                    <div class="row actions">
                        <fa [name]="'pencil-square-o'" (click)="updateFavorite(fav)"></fa>
                        <fa [name]="'trash-o'" (click)="removeFavorite(fav)"></fa>
                    </div>
                </div>
            </li>
        </ul>
        <table class="table table-hover" [hidden]="gridView">
            <thead>
                <th>Website name</th>
                <th>URL</th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor="let fav of favoritesList | async | searchfilter: 'fName,fUrl' : searchQuery">
                    <td [innerText]="fav.fName"></td>
                    <td><a target="_blank" [href]="fav.fUrl" [innerText]="fav.fUrl"></a></td>
                    <td>
                        <div class="actions">
                            <fa [name]="'pencil-square-o'" (click)="updateFavorite(fav)"></fa>
                            <fa [name]="'trash-o'" (click)="removeFavorite(fav)"></fa>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
