table {
    tr {
        .actions {
            display: none;
        }

        &:hover {
            .actions {
                display: block;
            }
        }
    }
}


ul.grid {
    li {
        list-style: none;
        margin: 0 10px 10px 0;
        display: inline-block;
        width: 200px;
    }
}
